.footer1 {
    text-align: left;
    text-align: left;
    float: left;
    margin-right: 100px;
    width: 250px;
}

.footer2 {
    text-align: right;
    float: right;
    padding-top: 18px;
}

.footer {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    font-size: 11px;
    line-height: 19px;
    padding: 10px;
}

.phone {
    background-image: url(../assets/images/call.png);
    float: left;
    width: 38px;
    height: 38px;
    margin-top: 8px;
}

.contact {
    margin-top: 8px;
    min-width: 200px;
    font-size: 13px;
}

b, strong {
    font-weight: bold;
}

@media (min-width: 1200px)
bootstrap.min.css:198
.container, .container2 {
    width: 1170px;
}