.footer {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    font-size: 11px;
    line-height: 19px;
    padding: 10px;
}

.contact {
    margin-top: 8px;
    min-width: 200px;
    font-size: 13px;
}