<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-sm-6">
				<img class="Image" src="../assets/images/logo.png">
			</div>
			 <div class="col-xs-12 col-md-4 col-sm-6 Header-containerAlingV">
			 	<img class="Image2" src="../assets/images/mintrabajo.jpg">			 	
			 </div>
		</div>
	</div>
</header>


<div>
 <ul class="nav nav-tabs nav-justified"> <li><a href="inicio-sofia-plus.html" class="selected">Inicio</a></li> <li><a href="buscar-oferta-educativa.html">Buscar oferta</a></li> <li><a href="http://seleccion.senasofiaplus.edu.co/sofia-evaluacion/evaluaciones.html">Presentar pruebas de selección</a></li> <li><a href="certificaciones.html">Certificados</a></li> <li><a href="http://portal.senasofiaplus.edu.co">Ayuda y soporte</a></li> </ul></div>