.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
    background-color: #5eb319;
    padding-left: 19%;
    padding-right: 19%;
}

.logo {
    background-image: url(../assets/images/logo.png);
    width: 330px;
    height: 73px;
    margin-top: 26px;
    margin-bottom: 23px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 30px;
}

.mintrabajo {
    background-image: url(../assets/images/mintrabajo.jpg);
    width: 420px;
    height: 79px;
    background-repeat: no-repeat;
    margin-left: 15px;
    float: right;
    margin-top: 26px;
}