.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
    background-color: #5eb319;
    padding-left: 19%;
    padding-right: 19%;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    color: #fff;
    border-radius: none;
}

.nav-tabs.nav-justified > li > a:hover {
    background-color: #53A627;
    border-radius: none;
    border-bottom: none;
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: red;
}

.Header-containerAlignV
  display flex
  align-items center



@media (max-width 400px)
	.Image 
		width: 100%
		height: 100%
	.Image2
		width: 100%
		height: 100%

@media (max-width: 350px)
	.Image 
		width: 100%
		height: 100%
	.Image2
		width: 100%
		height: 100%

@media (max-width 320px)
	.Image 
		width: 100%
		height: 100%
	.Image2
		width: 100%
		height: 100%
		display: block
@media (min-width: 668px)
	.col-xs-12
		width: 50%