.titulo1 {
    color: #01A6BD;
    text-align: center;
    font-size: 23px;
    margin-top: 53px;
    font-weight bold
}

.calendar {
    width: 36%;
    height: 70px;
    background-color: #5eb319;
    border: #E6E6E6 5px solid;
    border-radius: 4px 0 0 4px;
    text-align: center;
    color: #fff;
    line-height: 17px;
    padding-top: 6px;
    float: left;
    margin-top: 30px;
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 4px;
    padding-right: 4px;
}

.calendar-text {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 0 4px 4px 0;
    float: right;
    margin-top: 30px;
    width: 64%;
    height: 70px;
    padding-left: 3%;
    padding-top: 2.5%;
    padding-right: 3%;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
}

calendar-text:hover {
    color: #469C00;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.enlacesinicio {
    margin-right: 1%;
    margin-left: 2%;
}

.contenedorimagen {
    height: 55px;
    display: table;
    margin-bottom: 14px;
}

.accesos 
    display: table;
    font-weight: normal;
    margin-top: 15px;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;

.imagen {
    float: left;
    text-align: center;
    line-height: none;
    margin-left: 33%;
    margin-right: 13px;
    margin-top: 0px;
}


.imagesico1 {
    background-image: url(../assets/images/tecnicas.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb319;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.imagesico5 {
    background-image: url(../assets/images/tecnicavirtual.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb319;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7px;
}

.imagesico2 {
    background-image: url(../assets/images/cursoscortos.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb319;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.imagesico3 {
    background-image: url(../assets/images/virtual.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb319;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.imagesico4 {
    background-image: url(../assets/images/ingles.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb319;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.hr2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.registroico {
    background-image: url(../assets/images/register.png);
    width: 64px;
    height: 64px;
    float: left;
    position: absolute;
    margin: 7px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.registro {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 4px 4px 0 0;
    margin-top: 1px;
}

.registrotexto, .ingresotexto {
    text-align: left;
    font-size: 1.1em;
    margin: 18px 15px 19px 74px;
    width: 68%;
}

.registrobutton, .ingresobutton {
    border: none;
    background-color: #5eb319;
    height: 36px;
    color: #fff;
    width: 80%;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    border-radius: 0 0 0 4px;
}

.ingreso {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 4px 4px 0 0;
    margin-top: 79px;
}

.ingresoico {
    background-image: url(../assets/images/ingresoico.png);
    width: 64px;
    height: 64px;
    float: left;
    position: absolute;
    margin: 7px;
    cursor: pointer;
}

.ingresobutton {
    margin-bottom: 30px;
}

.registrobutton2, .ingresobutton2 {
    border: none;
    background-color: #469C00;
    height: 36px;
    color: #fff;
    width: 20%;
    float: right;
    line-height: 30px;
    background-image: url(../assets/images/go.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 4px 0;
}

.contrasena {
    border: none;
    background-color: #01A6BD;
    height: 36px;
    color: #fff;
    width: 80%;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    margin-bottom: 30px;
    cursor: pointer;
}


.contrasena2 {
    border: none;
    background-color: #0090A5;
    height: 36px;
    color: #fff;
    width: 20%;
    float: right;
    line-height: 30px;
    background-image: url(../assets/images/go.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#area_trabajo_1_slider {
    height: 254px;
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 254px;
    overflow: hidden;
    padding-top: 10px;
    line-height: 30px;
}

#area_trabajo_1_slider #slides .prev {
    left: 6% !important;
}

.prev {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 35px;
    color: #FFC200;
    text-align: center;
    background: none;
    height: 82px;
}

#area_trabajo_1_slider .slides_container a .slide_titulo {
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    padding-bottom: 10px;
    display: inline-block;
    width: 75%;
    margin-left: 45px;
    line-height: 25px;
}

#area_trabajo_1_slider #slides .next {
    left: 83% !important;
}

#area_trabajo_1_slider #slides .next, #area_trabajo_1_slider #slides .prev {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 35px;
    color: #FFC200;
    text-align: center;
    background: none;
    height: 82px;
}

#area_trabajo_1_slider .slides_container a span {
    font-size: 12px;
    color: #333333;
}

#area_trabajo_1_slider .slides_container a {
    padding-left: 20px;
}

.noticiabutton {
    border: none;
    background-color: #FFC200;
    height: 36px;
    color: #fff;
    width: 80%;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    border-radius: 0 0 0 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

.noticiabutton2 {
    border: none;
    background-color: #FFB800;
    height: 36px;
    color: #fff;
    width: 20%;
    float: right;
    line-height: 30px;
    background-image: url(../assets/images/go.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 4px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.botonesright1 {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 12px;
    font-size: 1.1em;
    height: 63px;
    width: 80%;
    cursor: pointer;
    padding: 9px 20px;
}

.rightbutton2 {
    background-color: #0090A5;
    height: 63px;
    color: #fff;
    width: 20%;
    float: right;
    line-height: 63px;
    background-image: url(../assets/images/go.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: none;
}

.botonesright {
    background-color: #F5F5F5;
    border: #E0DEDE solid 1px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 13px;
    font-size: 1.1em;
    height: 63px;
    width: 80%;
    cursor: pointer;
    padding: 20px;
}

.btn-preguntas {
    text-align: center;
    border: 1px solid transparent;
    font-size: 1em;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5eb319;
    cursor: pointer;
    width: 96%;
}

.busquedafacil {
    background-color: #01A6BD;
    border: none;
    height: 36px;
    color: #fff;
    width: 90%;
    float: left;
    text-align: center;
    font-size: 1.2em;
    line-height: 35px;
    margin-bottom: 20px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 30px;
    cursor: pointer;
}

.busquedafacil2 {
    border: none;
    background-color: #0090A5;
    height: 36px;
    color: #fff;
    width: 10%;
    float: right;
    line-height: 30px;
    background-image: url(../assets/images/go.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#area_trabajo_1_buscador_2 h2 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}



#li_tipo {
    background-image: url(../assets/images/pin.png) !important;
    background-position: 85% 50%;
    background-color: #ddd;
}

.filtros li {
    display: block;
    margin: 0;
    padding: 3px 8px;
    font-size: 0.8em;
    position: relative;
    width: 19%;
    float: left;
    min-height: 38px;
    background-image: url(../images/formato/busqueda/down.png);
    background-repeat: no-repeat;
    background-position: 88px 25px;
    color: #333;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 2px;
}

.zero {
    float: right;
}

.ita {
    font-style: italic;
    color: #999999;
    min-width: 200px;
    border: none;
    font-size: 16px;
    padding-top: 2px;
}

.input_blanco, .input_blanco_obligatorio, .input_blanco_ok, .input_blanco_error {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
    position: relative;
    padding: 8px 40px 8px 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 6px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

#area_trabajo_1_buscador {
    background-color: #707070;
    border-radius: 8px;
    padding: 6px 18px;
    margin-bottom: 30px;
    min-height: 280px;
}

#area_trabajo_1_buscador_3 {
    margin-top: 20px;
    margin-bottom: 7px;
}

#label204, #label205 {
    color: #eee;
    font-weight: bold !important;
    font-size: 14px !important;
    width: 60%;
}

#ciudadTextInput {
    text-align: left;
    width: 94%;
    min-width: 100px !important;
    font-style: italic;
    min-height: 30px;
    border-radius: 4px;
    padding-left: 12px;
    color: #555;
    border: 1px solid #555;
    font-size: 1.13em;
    padding-top: 2px;
    border: none;
}


.btn-buscar {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1.2em;
    line-height: 1.42857;
    user-select: none;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 179, 25);
    float: right;
    width: 20%;
    margin-top: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 6px 12px;
    border-radius: 4px;
}

.texto_input {
    width: 210px;
    font-size: 0.9em;
    padding-right: 41px;
    margin-top: 7px;
    font-weight: normal;
}

.tooltip {
    background-image: url(../assets/images/quest.png);
    background-repeat: no-repeat;
    cursor: help;
    height: 20px;
    width: 20px;
    padding: 8px;
    padding-bottom: 10px;
}

.preguntas {
    background-color: #707070;
    border: #E0DEDE solid 1px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.2em;
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}